@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}
.main {
  background-image: url("./img/dark.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
