@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}
.main {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.dark {
  background-image: url("./img/dark.jpg");
}
.clear {
  background-image: url("./img/clear.jpg");
}
button.MuiToggleButton-root {
  color: white;
}
button.MuiToggleButton-root.Mui-selected {
  background-color: #1a2027 !important;
  color: white;
}
